.Application {
  height: 100%;
}
.Application .menu-icon {
  margin-left: -12px;
  margin-right: -48px;
  z-index: 99;
}

.Application .heading-container {
  flex: 1;
  text-align: center;
}

.Application .scratchpad-option {
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 999;
  margin: 8px;
  display: none;
}
