.WeightDialog .title_bar {
  position: relative;
}

.WeightDialog .title_bar .title__container {
  flex: 1;
}

.WeightDialog .title_bar .title__text {
  padding: 16px;
  margin: 0 auto;
}

.WeightDialog .title_bar .title__info {
  padding: 16px;
  margin: 0 auto;
}
